
.myDiv {
    display: none;
  }
  .action{
    cursor: pointer;
  }
  .vuefooter{
    padding-top:50px;
      position:relative;
      height:100;
    bottom:0px;
      width:100%
  }
  .load{
  opacity:0.4;
  z-index:-999;
  filter: alpha(opacity=20);
    position: fixed; /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
     /* Black background with opacity */
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  
  }
  